<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP_0001</key>
				<true/>
				<key>AddHDMI_8000000</key>
				<true/>
				<key>AddIMEI_80000</key>
				<false/>
				<key>AddMCHC_0008</key>
				<true/>
				<key>AddPNLF_1000000</key>
				<false/>
				<key>DeleteUnused_400000</key>
				<true/>
				<key>FIX_ACST_4000000</key>
				<false/>
				<key>FIX_ADP1_800000</key>
				<false/>
				<key>FIX_INTELGFX_100000</key>
				<false/>
				<key>FIX_RTC_20000</key>
				<true/>
				<key>FIX_S3D_2000000</key>
				<false/>
				<key>FIX_TMR_40000</key>
				<true/>
				<key>FIX_WAK_200000</key>
				<false/>
				<key>FakeLPC_0020</key>
				<false/>
				<key>FixAirport_4000</key>
				<false/>
				<key>FixDarwin7_10000</key>
				<false/>
				<key>FixDarwin_0002</key>
				<false/>
				<key>FixDisplay_0100</key>
				<true/>
				<key>FixFirewire_0800</key>
				<false/>
				<key>FixHDA_8000</key>
				<true/>
				<key>FixHPET_0010</key>
				<true/>
				<key>FixHeaders_20000000</key>
				<true/>
				<key>FixIDE_0200</key>
				<false/>
				<key>FixIPIC_0040</key>
				<true/>
				<key>FixLAN_2000</key>
				<false/>
				<key>FixRegions_10000000</key>
				<true/>
				<key>FixSATA_0400</key>
				<false/>
				<key>FixSBUS_0080</key>
				<true/>
				<key>FixShutdown_0004</key>
				<true/>
				<key>FixUSB_1000</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>BIOS.aml</string>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<true/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>#Arguments</key>
		<string>-no_compat_check </string>
		<key>#Debug</key>
		<false/>
		<key>Arguments</key>
		<string>-nehalem_error_disable</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Timeout</key>
		<integer>1</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>@0,connector-type</key>
				<data>
				AAgAAA==
				</data>
				<key>@1,connector-type</key>
				<data>
				AAgAAA==
				</data>
				<key>@2,connector-type</key>
				<data>
				AAgAAA==
				</data>
				<key>@3,connector-type</key>
				<data>
				AAgAAA==
				</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x1)</key>
			<dict>
				<key>hda-gfx</key>
				<string>onboard-1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1a,0x0)</key>
			<dict>
				<key>device-id</key>
				<data>
				NzoAAA==
				</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1a,0x1)</key>
			<dict>
				<key>device-id</key>
				<data>
				ODoAAA==
				</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1a,0x2)</key>
			<dict>
				<key>device-id</key>
				<data>
				OToAAA==
				</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1b,0x0)</key>
			<dict>
				<key>#MaximumBootBeepVolumeAlt</key>
				<data>
				AA==
				</data>
				<key>MaximumBootBeepVolume</key>
				<data>
				AA==
				</data>
				<key>PinConfigurations</key>
				<data>
				AA==
				</data>
				<key>layout-id</key>
				<data>
				QgAAAA==
				</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x5)/Pci(0x0,0x0)</key>
			<dict>
				<key>built-in</key>
				<data>
				AA==
				</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1d,0x0)</key>
			<dict>
				<key>device-id</key>
				<data>
				NDoAAA==
				</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1d,0x1)</key>
			<dict>
				<key>device-id</key>
				<data>
				NToAAA==
				</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1d,0x2)</key>
			<dict>
				<key>device-id</key>
				<data>
				NjoAAA==
				</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1e,0x0)/Pci(0x4,0x0)</key>
			<dict>
				<key>built-in</key>
				<data>
				AA==
				</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x2)</key>
			<dict>
				<key>#SATA</key>
				<string></string>
				<key>device-id</key>
				<data>
				gSYAAA==
				</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Recovery HD</string>
			<string>PreBoot</string>
			<string>BOOTX64.efi</string>
		</array>
		<key>KbdPrevLang</key>
		<true/>
		<key>Language</key>
		<string>ru:19456</string>
		<key>Scan</key>
		<dict>
			<key>Legacy</key>
			<string>NO</string>
		</dict>
		<key>ScreenResolution</key>
		<string>1600x1200</string>
		<key>Theme</key>
		<string>embedded</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>AppleRTC</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				RXh0ZXJuYWw=
				</data>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>
				SW50ZXJuYWw=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>TRIM function for non-Apple SSDs</string>
				<key>Find</key>
				<data>
				QVBQTEUgU1NEAA==
				</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AppleHDA XML to ZML</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				eG1sLnps
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Replace</key>
				<data>
				em1sLnps
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Wi-Fi Region</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				D7eH3AQAAA==
				</data>
				<key>MatchOS</key>
				<string>10.9</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Replace</key>
				<data>
				uGQAAACQkA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Atheros Locale Fix</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				D7eH3AQAAA==
				</data>
				<key>MatchOS</key>
				<string>10.12</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Replace</key>
				<data>
				uGQAAACQkA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AR9380 Override regdomain (1 of 2)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g7sgCAAABnRk
				</data>
				<key>MatchOS</key>
				<string>10.12</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Replace</key>
				<data>
				g7sgCAAABus2
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AR9380 Override regdomain (2 of 2)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ZseDFgkAAEMAZrhDAA==
				</data>
				<key>MatchOS</key>
				<string>10.12</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Replace</key>
				<data>
				ZseDFgkAAAAAZrgAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AppleTyMCEDriver</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				TWFjUHJvNCwxTWFjUHJvNSwx
				</data>
				<key>Name</key>
				<string>AppleTyMCEDriver</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAAAAAAAAAAA
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BoardSerialNumber</key>
		<string>G81470EUH1K5S</string>
		<key>ProductName</key>
		<string>MacPro5,1</string>
		<key>SerialNumber</key>
		<string>G8148EYQEUH</string>
		<key>smUUID</key>
		<string>08FEFAE2-A2C8-4371-83D5-7D9DC2FC153E</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<true/>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
